* { margin: 0;}
html,body{ height:100%; padding-top:0;}

img {
  display:block;
  max-width:100%;
  height:auto
}

pre {
  -moz-tab-size:4;
  -o-tab-size:4;
  -webkit-tab-size:4;
  -ms-tab-size:4;
  tab-size:4;
}

code {
  color: #515153;
}


/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.push {
  height: 60px;  
}

#footer {
  display:none;
}

@media (min-width: 1024px) {
  #footer {
    display:block;
    height: 60px;
    background-color: #f5f5f5;
  }
}

.news-box {
  display: none;
}

.download-button {
  display: none;     
}

@media (min-width: 1200px) { 
  .download-button {
      display: inline;
  }
}

.search-button {
  display: none;     
}


@media (min-width: 768px) { 
  .search-button {
      display: inline;
  }
}


@media (min-width: 1024px) {
  .news-box {
    display: block;
    z-index: 10;
    border-color: #8E9B83;
    border-width: 2px;
    position: fixed;
    width: 50%;
    margin-left: 25%;
    margin-top: -10px;
  }
}

.training-box {
  float: right;
  width: 160px;
  min-width: 160px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 10px;
}

.headerDivider {
     border-right: #dfdfdf 1px solid;    
}

.breadcrumb {
  padding: 0px 0px 0px 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

#breadcrumbs {
  padding-left: 10px;
  padding-bottom: 10px;
}
ul li.search-result{ 
  border-bottom:solid 1px #e4e4e4; 
  min-height:64px; 
  padding:10px 0 20px 140px; 
  line-height:18px;
  background:url(../images/bgDocIcon.png) no-repeat scroll 0 23px ;
  list-style-type:none;
}

@media (min-width: 768px) { 
  .sb-fixed {
    position: fixed;
  } 
}

li.search-result em {
  font-style: normal;
  background-color: #FFFF00;
}

#toc {
  display:none;
}

@media (min-width: 768px) {
  #toc {
    display:block;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1400px;
  }
}

