<ul class='list-inline'>
    <li>
        Simply Scale with
    </li>
    <li>
        <a href="http://www.gigaspaces.com">GigaSpaces</a>
    </li>
    <li>
        <a href="http://www.gigaspaces.com/wiki/x/xwBmAg" class="smalltext">Legal Notice</a>
    </li>
    <li>
        <a href="http://www.gigaspaces.com/wiki/x/xgBmAg" class="smalltext">3rd Party License Agreements</a>
    </li>
    <li>
        <a href="http://www.gigaspaces.com/wiki/x/BQFmAg" class="smalltext">Site Map</a>
    </li>
    <li>
        <a href="mailto:techw@gigaspaces.com">Contact Admin</a>
    </li>
    <li>
        <i><a href="http://www.atlassian.com/software/confluence">Powered by Atlassian Confluence</a></i>
    </li>
</ul>
