<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="st:info" content="section:'{% currentsection %}'"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery.treeview.css">
    <link rel="stylesheet" href="/css/docs.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <!--link rel="stylesheet" href="/css/type-ahead.css"-->

    <link rel="stylesheet" type="text/css" href="/css/swiftype-autocomplete.css"/>

</head>