<div>
  Browse Release Notes
</div>

<ul id="navigation">
  <li><a href="index.html">Release Home</a></li>
  <li><a href="whats-new.html">Whats new</a></li>
  <li><a href="new-features.html">New Features</a></li>
  <li><a href="fixed-issues.html">Fixed Issues</a></li>
  <li><a href="known-issues.html">Known Issues</a></li>
  <li><a href="deprecation.html">Deprecations</a></li>
  <li><a href="backward-compatibility.html">Backward Compatibility</a></li>
  <li><a href="supported-platforms.html">Supported Platforms</a></li>
  <li><a href="upgrading.html">Upgrading</a></li>
  <li><a href="index.html">Release Home</a></li>
</ul>

