<div>
  Browse Solutions &amp; Best Practices
</div>

<ul id="navigation">
  <li><a href="index.html">Services and Best Practices Home</a></li>
  <li><a href="calculation-offload---gigaspaces-excel-integration.html">Calculation Offload Excel Integration</a></li>
  <li><a href="capacity-planning.html">Capacity Planning</a></li>
  <li><a href="custom-eviction.html">Custom Eviction</a></li>
  <li><a href="custom-matching.html">Custom Matching</a></li>
  <li><a href="data-collocation-deployment-topology.html">Data Collocation Deployment Topology</a></li>
  <li><a href="data-offload---gigaspaces-excel-integration.html">Data Offload Gigaspaces Excel Integration</a></li>
  <li><a href="drools-rule-engine-integration.html">Drools Rule Engine Integration</a></li>
  <li><a href="dynamic-polling-container-templates-using-triggeroperationhandler.html">Dynamic Polling Container Templates Using Triggeroperationhandler</a></li>
  <li><a href="elastic-distributed-calculation-engine.html">Elastic Distributed Calculation Engine</a></li>
  <li><a href="embedding-xap-for-oems.html">Embedding XAP Xor OEMS</a></li>
  <li><a href="even-data-distribution.html">Even Data Distribution</a></li>
  <li><a href="event-driven-remoting-example.html">Event Driven Remoting Example</a></li>
  <li><a href="excel-space-viewer.html">Excel Space Viewer</a></li>
  <li><a href="excel-that-scales-solution.html">Excel That Scales Solution</a></li>
  <li><a href="finding-partition-load.html">Finding Partition Load</a></li>
  <li><a href="gigaspaces-excel-integration-faq.html">Excel Integration Faq</a></li>
  <li><a href="gigaspaces-excel-market-data-example.html">Excel Market Data Example</a></li>
  <li><a href="gigaspaces-excel-troubleshooting.html">Excel Troubleshooting</a></li>
  <li><a href="global-http-session-sharing.html">Global http Session Sharing</a></li>
  <li><a href="global-id-generator.html">Global id Generator</a></li>
  <li><a href="hyperic-integration.html">Hyperic Integration</a></li>
  <li><a href="imdg-with-large-backend-database-support.html">IMDG with Large Backend Database Support</a></li>

  <li><a href="jmx-space-statistics.html">JMX Space Statistics</a></li>
  <li><a href="jta-xa-example.html">JTA XA Example</a></li>
  <li><a href="lowering-the-space-object-footprint.html">Lowering The Space Object Footprint</a></li>
  <li><a href="mainframe-integration.html">Mainframe Integration</a></li>
  <li><a href="map-reduce-pattern---executors-example.html">MAP Reduce Pattern Executors Example</a></li>
  <li><a href="master-worker-pattern.html">Master Worker Pattern</a></li>
  <li><a href="mirror-monitor.html">Mirror Monitor</a></li>
  <li><a href="mongodb-external-datastore.html">Mongodb External Datastore</a></li>
  <li><a href="moving-from-hibernate-to-space.html">Moving From Hibernate to Space</a></li>
  <li><a href="moving-into-production-checklist.html">Moving into Production Checklist</a></li>
  <li><a href="mule-esb-example.html">MULE ESB Example</a></li>
  <li><a href="observable-wan.html">Observable WAN</a></li>
  <li><a href="odbc-driver.html">OJDBC Driver</a></li>
  <li><a href="oracle-delta-server.html">Oracle Delta Server</a></li>
  <li><a href="parallel-queue-pattern.html">Parallel Queue Pattern</a></li>
  <li><a href="prerequisites---gigaspaces-excel-integration.html">Prerequisites GigaSpaces Excel Integration</a></li>
  <li><a href="primary-backup-zone-controller.html">Primary Backup Zone Controller</a></li>
  <li><a href="priority-based-queue.html">Priority Based Queue</a></li>
  <li><a href="rapid-data-load.html">Rapid Data Load</a></li>
  <li><a href="refreshable-business-logic-example.html">Refreshable Business Logic Example</a></li>
  <li><a href="rtd-and-udf-examples---gigaspaces-excel-integration.html">RTD and UDF Examples Excel Integration</a></li>
  <li><a href="safe-grid-shutdown.html">Safe Grid Shutdown</a></li>
  <li><a href="scala-integration.html">Scala Integration</a></li>
  <li><a href="scaling-agent.html">Scaling Agent</a></li>
  <li><a href="schema-evolution.html">Schema Evolution</a></li>
  <li><a href="space-dump-and-reload.html">Space Dump and Reload</a></li>
  <li><a href="space-object-modeling.html">Space Object Modeling</a></li>
  <li><a href="spring-batch-pu.html">Spring Batch PU</a></li>
  <li><a href="trading-settlement.html">Trading Settlement</a></li>
  <li><a href="unit-of-work.html">Unit of Work</a></li>
  <li><a href="universal-deployer.html">Universal Deployer</a></li>
  <li><a href="wan-gateway-master-slave-replication.html">WAN Gateway Master Slave Replication</a></li>
  <li><a href="wan-gateway-pass-through-replication.html">WAN Gateway Pass Through Replication</a></li>
  <li><a href="wan-replication-gateway.html">WAN Replication Gateway</a></li>
  <li><a href="web-load-balancer-agent-pu.html">WEB Load Balancer Agent PU</a></li>
  <li><a href="web-service-pu.html">WEB Service PU</a></li>
  <li><a href="writing-your-first-rtd-or-udf-application.html">Writing Your First RTD orUDF Application</a></li>
  <li><a href="index.html">Services and Best Practices Home</a></li>
</ul>