<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/jquery.treeview.css">
    <link rel="stylesheet" href="/css/docs.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body>
    <div class="container">
      <div class='row'>
        <div class='col-md-3'>
          {% include nav.html %}
        </div>
        <div class='col-md-9'>
          {% include toc.html %}
        </div>
      </div>
      <div class='row'>
        <div class="footer">
          {% include footer.html %}
        </div>
      </div>
    </div> <!-- /container -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.treeview.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
    <script>
      $("#navigation").treeview({
        persist: "location"
      });
    </script>
  </body>
</html>
