<!DOCTYPE html>
<html lang="en">
  
{% include head.html %}
  
  <body>  
    {% include scripts.html %}  
    {% include navbar.html %}
    <div class="row" style="padding-top: 80px;">
      <div class="container">
        <div class="jumbotron">
          <div class="row">
              <div class="col-md-6 headerDivider">
                <img src="/images/xaplogo.png" style="height:150px" class="img-responsive">
                </br>
                <p>
                Welcome to the GigaSpaces XAP documentation portal! Here you'll find all
                the information you need for setting up, implemnting and managing XAP applications.
                </p>
              </div>
              <div class="col-md-6">
                <img src="images/XAP-e2e.png" style="margin-top:30px" class="img-responsive">   
              </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 headerDivider">                    
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <a href="xap97" class="btn btn-primary btn-block btn-lg">XAP 9.7</a>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
        <div class="col-md-4 headerDivider">          
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <a href="xap97net" class="btn btn-primary btn-block btn-lg">XAP.NET 9.7</a>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
        <div class="col-md-4">          
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <a href="# " class="btn btn-success btn-block btn-lg">Solutions &amp; Best Practices</a>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <br>
      </div>
    </div>    
  </body>

</html>